<h1><%= @flat.name %></h1>
<p><%= @flat.address %></p>
<p><%= @flat.description %></p>
<p><%= @flat.price_per_night %></p>
<p><%= @flat.number_of_guests %></p>


<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %> |

<hr>
<%= link_to flats_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>

